name: Newman API Tests // Tests d'API / API自动化测试

on:
  push:
    branches: [ "main"] #在 main 分支推送时触发
  

jobs:
  run-test-api:
    runs-on: ubuntu-latest #在最新的Ubuntu环境中运行

    steps:
    - name: Checkout code  # 检出代码
      uses: actions/checkout@v3

    - name: installation Node jobs #设置Node.js环境
      uses: actions/setup-node@v3
      

    - name: Install libraries # 安装依赖
      run: npm install

    - name: lancer le backend # 启动API服务器
      run: |                 #下面两行分别为 后台启动服务器 和 等待5秒确保服务启动
        nohup node server.js > server.log 2>&1 &
          sleep 5    
          
    - name: Install de newman 
      run: npm install -g newman newman-reporter-htmlextra

    - name: lancer Newman tests # 运行Newman API测试
      run: |
       newman run ./postman/collection.json \
         --environment ./postman/environment.json \
         -r htmlextra --reporter-htmlextra-export ./reports/gestionItems.html 
   #  || echo "Newman tests failed but continuing workflow"
   
    



















    # - name: Upload test report #上传测试报告
    #   if: always()
    #   uses: actions/upload-artifact@v4  #更新到v4版本
    #   with:
    #     name: newman-report
    #     path: ./newman_test/reports/gestionItems.html #测试报告的真实路径

    # - name: Notify on failure #测试失败时通知
    #   if: failure()
    #   run: |                                            #测试失败，请查看报告 # 联系邮箱
    #     echo "Tests échoués ! Consultez les rapports."   
    #     echo "Contact: clairedupuich6@gmail.com"        
